<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Place to visit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let item of list">
      <ion-thumbnail item-start>
        <img [src]="item.img"/>
      </ion-thumbnail>
      <h2> {{item.name}}</h2>
    </ion-item>

  </ion-list>
</ion-content>