<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card ion-item *ngFor="let item of list" (click)="goSub($event, item)">
        <img [src]="item.img"/>
      <div class="card-title">
        {{item.name}}
      </div>
      <div class="card-subtitle">
        {{item.likes}} Likes
      </div>
    </ion-card>

</ion-content>
